{% extends "base.html.twig" %}

{# header #}
{% block stylesheets %}
{{ parent() }}
{% endblock %}

{# body #}
{% block body %}

{{ parent() }}

<div class="text-center">

<h1>Articles</h1>
<hr>

<table class="table">
<thead class="bg-secondary">
<tr>
<th scope="col">Article:</th>
<th scope="col">Prix:</th>
<th scope="col">Quantité:</th>
<th scope="col">Statut:</th>
</tr>
</thead>
<tbody>
{% for article in art %}
<tr>
<td scope="row">
<a href="{{ path("detail", {'id_art': article.id}) }}">
{{ article.libelle }}
</a>
</td>
<td scope="row">
{{ article.pu ~ ' €'}}
</td>
<td scope="row">
{{ article.quantity }}
</td>
<td scope="row">
{{ article.statut }}
</td>
</tr>
{% endfor %}
</tbody>
</table>

<hr>

<h2>Ajouter un article</h2>
<br>

<form method="post" action="{{ path("create") }}">

<div class="form-group">

<input type="text" placeholder="libelle" name="libelle" required>
<input type="number" placeholder="prix" name="pu" required>
<input type="number" placeholder="quantité" name="quantity" required>
<br>
<label for="neuf">Neuf: </label>
<input id="neuf" type="radio" value="neuf" name="statut" checked>
<label for="occasion">Occasion: </label>
<input id="occasion" type="radio" value="occasion" name="statut">
<br>
<input class="btn btn-primary" type="submit" value="envoyer">

</div>

</form>

<h3>Vous pouvez aller à la page <a href="{{ path("home") }}">accueil</a> où aller à la page <a href="{{ path("personnes") }}">personnes</a></h3>

</div>

{% endblock %}