{% extends "base.html.twig" %}

{# header #}
{% block stylesheets %}
{{ parent() }}
{% endblock %}

{# body #}
{% block body %}

{{ parent() }}

<div class="text-center">

<h1>Personnes</h1>
<hr>

<table class="table">
<thead class="thead-dark">
<tr>
<th scope="col">Id:</th>
<th scope="col">Nom:</th>
<th scope="col">Prénom:</th>
</tr>
</thead>
<tbody>
{% for personne in pers %}
<tr>
<td scope="row">
{{ personne.id }}
</td>
<td scope="row">
<a href="{{ path("detailP", {'id_pers': personne.id}) }}">
{{ personne.nom }}
</a>
</td>
<td scope="row">
{{ personne.prenom }}
</td>
</tr>
{% endfor %}
</tbody>
</table>

<hr>
<h2>Ajouter une personne</h2>
<br>

<form method="post" action="{{ path("createPersonne") }}">

<div class="form-group">

<input type="text" placeholder="Nom" name="nom" required>
<input type="text" placeholder="Prénom" name="prenom" required>
<br><br>
<button class="btn btn-primary" type="submit"><i class="fas fa-share"></i> Envoyer</button>

</div>

</form>

</div>

{% endblock %}